<launch>

  <arg name="use_rosbag" default="false" />
  <arg name="filename" default="" />

  <include file="$(find decopin_hand)/launch/audio_to_spectrogram.launch" >
    <arg name="use_rosbag" value="$(arg use_rosbag)" />
    <arg name="filename" value="$(arg filename)" />
    <arg name="save_noise" value="false" />
    <arg name="save_action" value="false" />
    <arg name="classify_action" value="true" />
  </include>

</launch>
