<launch>

  <arg name="use_rosbag" default="false" />
  <arg name="filename" default="" />
  <arg name="target_class" default="" />
  <arg name="save_when_action" default="false"/>

  <include file="$(find decopin_hand)/launch/audio_to_spectrogram.launch" >
    <arg name="use_rosbag" value="$(arg use_rosbag)" />
    <arg name="filename" value="$(arg filename)" />
    <arg name="save_noise" value="false" />
    <arg name="save_action" value="true" />
    <arg name="classify_action" value="false" />
    <arg name="target_class" value="$(arg target_class)" />
    <arg name="save_when_action" value="$(arg save_when_action)" />
  </include>

</launch>
